<div class='nav__ID'>
    <span>Screening</span>
    <ul>
        <li><a class="small"  href=?/cl-s-date-data>Session Date</a></li>
        <li><a class="small"  href=?/cl-s-anthropometry-data>Anthropometry (What to measure?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s-actigraphy-data>Actigraphy</a></li>
        <li><a class="small"  href=?/cl-s-psg300-data>Diagnostic Sleep PSG300 Report</a></li>
        <li><a class="small"  href=?/cl-s-sleep-scoring-data>Sleep Scoring File (Hypnogram) (File Upload?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s-ess-data>ECG Report Data Upload (File Upload?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 1 Morning</span>
    <ul>
        <li><a class="small"  href=?/cl-m-ethnicity-data>Ethnicity</a></li>
        <li><a class="small"  href=?/cl-m-lifestyle-data>Life Style</a></li>
        <li><a class="small"  href=?/cl-m-education-data>Education</a></li>
        <li><a class="small"  href=?/cl-m-dass-data>Depression Anxiety Stress Scale</a></li>
        <li><a class="small"  href=?/cl-m-sf36-data>Short Form Health Survey (SF-36)</a></li>
        <li><a class="small"  href=?/cl-m-me-data>Horne &amp; &Ouml;stberg Morningness-Eveningness Questionnaire</a></li>
        <li><a class="small"  href=?/cl-m-hads-data>Hospital Anxiety and Depression Scale (HADS)</a></li>
        <li><a class="small"  href=?/cl-m-ess-data>Epworth Sleepiness Scale</a></li>
        <li><a class="small"  href=?/cl-m-genotype-data>Genotype</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 1 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s1-d1-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d1-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d1-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s1-d1-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d1-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d1-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s1-d1-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d1-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d1-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s1-d1-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d1-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d1-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s1-d1-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d1-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d1-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s1-d1-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d1-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d1-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s1-d1-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d1-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d1-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s1-d1-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d1-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d1-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s1-d1-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d1-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d1-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s1-d1-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d1-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d1-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s1-d1-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d1-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d1-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s1-d1-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d1-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d1-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 1 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d1-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d1-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 1 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d1-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d1-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d1-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 2 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s1-d2-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d2-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d2-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s1-d2-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d2-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d2-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s1-d2-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d2-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d2-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s1-d2-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d2-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d2-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s1-d2-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d2-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d2-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s1-d2-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d2-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d2-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s1-d2-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d2-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d2-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s1-d2-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d2-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d2-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s1-d2-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d2-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d2-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s1-d2-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d2-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d2-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s1-d2-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d2-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d2-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s1-d2-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d2-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d2-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 2 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d2-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d2-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 2 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d2-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d2-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d2-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Session 1 Day 3 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s1-d3-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d3-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s1-d3-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s1-d3-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d3-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s1-d3-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s1-d3-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d3-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s1-d3-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s1-d3-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d3-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s1-d3-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s1-d3-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d3-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s1-d3-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s1-d3-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d3-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s1-d3-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s1-d3-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d3-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s1-d3-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s1-d3-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d3-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s1-d3-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s1-d3-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d3-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s1-d3-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s1-d3-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d3-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s1-d3-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s1-d3-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d3-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s1-d3-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s1-d3-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d3-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s1-d3-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 3 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d3-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-melatonin-data>Melatonin measurement 6 entries (specify entries)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-hdeeg-data>Hd-EEG (what to record?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s1-d3-bl-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 3 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d3-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-melatonin-data>Melatonin measurement 6 entries (specify entries)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-al-hdeeg-data>Hd-EEG (what to record?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-al-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-al-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d3-al-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s1-d3-al-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 1 Day 4</span>
    <ul>
        <li><a class="small"  href=?/cl-s1-d4-t1-hdeeg-data>Hd EEG</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s1-d4-t1-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Session 2 Day 1 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d1-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d1-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d1-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d1-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d1-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d1-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d1-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d1-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d1-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d1-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d1-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d1-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 1 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d1-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d1-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 1 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d1-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d1-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d1-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 2 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s2-d2-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d2-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d2-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s2-d2-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d2-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d2-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s2-d2-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d2-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d2-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s2-d2-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d2-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d2-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s2-d2-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d2-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d2-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s2-d2-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d2-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d2-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s2-d2-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d2-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d2-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s2-d2-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d2-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d2-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s2-d2-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d2-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d2-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s2-d2-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d2-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d2-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s2-d2-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d2-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d2-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s2-d2-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d2-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d2-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 2 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d2-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d2-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 2 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d2-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d2-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d2-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
<div class='nav__ID'>
    <span>Session 2 Day 3 PVT, KDT, KSS</span>
    <ul>
        <li>1 <a class="small"  href=?/cl-s2-d3-t1-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d3-t1-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>1 <a class="small"  href=?/cl-s2-d3-t1-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>2 <a class="small"  href=?/cl-s2-d3-t2-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d3-t2-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>2 <a class="small"  href=?/cl-s2-d3-t2-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>3 <a class="small"  href=?/cl-s2-d3-t3-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d3-t3-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>3 <a class="small"  href=?/cl-s2-d3-t3-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>4 <a class="small"  href=?/cl-s2-d3-t4-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d3-t4-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>4 <a class="small"  href=?/cl-s2-d3-t4-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>5 <a class="small"  href=?/cl-s2-d3-t5-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d3-t5-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>5 <a class="small"  href=?/cl-s2-d3-t5-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>6 <a class="small"  href=?/cl-s2-d3-t6-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d3-t6-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>6 <a class="small"  href=?/cl-s2-d3-t6-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>7 <a class="small"  href=?/cl-s2-d3-t7-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d3-t7-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>7 <a class="small"  href=?/cl-s2-d3-t7-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>8 <a class="small"  href=?/cl-s2-d3-t8-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d3-t8-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>8 <a class="small"  href=?/cl-s2-d3-t8-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>9 <a class="small"  href=?/cl-s2-d3-t9-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d3-t9-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>9 <a class="small"  href=?/cl-s2-d3-t9-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>10 <a class="small"  href=?/cl-s2-d3-t10-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d3-t10-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>10 <a class="small"  href=?/cl-s2-d3-t10-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>11 <a class="small"  href=?/cl-s2-d3-t11-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d3-t11-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>11 <a class="small"  href=?/cl-s2-d3-t11-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <li>12 <a class="small"  href=?/cl-s2-d3-t12-pvt-data>Psychomotor Vigilance Task (PVT)</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d3-t12-kss-data>Karolinska Sleepiness Scale</a></li>
        <li>12 <a class="small"  href=?/cl-s2-d3-t12-kdt-data>Karolinska Drowsiness Test (What to record?)</a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 3 Before lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d3-bl-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-melatonin-data>Melatonin measurement 6 entries (specify entries)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-hdeeg-data>Hd-EEG (what to record?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s2-d3-bl-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 3 After lunch</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d3-al-nback1-data>1-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-nback2-data>2-Back</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-stroop-text-data>Stroop Text</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-stroop-colour-data>Stroop Colour</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-lct-data>Letter Cancellation Task</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-dsst-data>Symbol Digit Modality Test</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-mood-data>Mood check (more info needed)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-al-bsrt-data>The Buschke Selective Reminding Test</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-melatonin-data>Melatonin measurement 6 entries (specify entries)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-al-hdeeg-data>Hd-EEG (what to record?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-al-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-al-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d3-al-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s2-d3-al-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Session 2 Day 4</span>
    <ul>
        <li><a class="small"  href=?/cl-s2-d4-t1-hdeeg-data>Hd EEG</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-ftt-data>Finger Tapping Task</a></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-wpt-data>Word Pair Task (do we have this somewhere?)</a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-1-kdt-data>Karolinska Drowsiness Test (KDT) with EEG </a><mark class=text-danger>X</mark></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-pvt-data>Psychomotor Vigilance Task (PVT) </a></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-kss-data>Karolinska Sleepiness Scale (KSS)</a></li>
        <li><a class="small"  href=?/cl-s2-d4-t1-2-kdt-data>Karolinska Drowsiness Test (KDT) </a><mark class=text-danger>X</mark></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
    <span>Unscheduled</span>
    <ul>
        <li><a class="small"   href=?/cl-concom-medication-data>Concomitant Medication</a></li>
        <li><a class="small"   href=?/cl-adverse-event-data>Adverse Event</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>

</div>